@import url('https://fonts.googleapis.com/earlyaccess/notonaskharabicui.css');
@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Noto Naskh Arabic UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  font-weight: bolder;
  font-size:xx-large;
  font-family: 'Poppins';
  color: whitesmoke;
  text-align: center;
  direction: ltr;
}